.content {
    height: 100vh;
    width: 100vw;
    background-color: var(--purple-500);

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--purple-800);
    font-family: 'Courier New', Courier, monospace;
}

.title {
    color: var(--purple-800);
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 4px;

    font-weight: 200;
}

.login {
    margin-top: 4px;
    justify-content: left;

    color: var(--purple-800);
    font-size: 12px;

    cursor: pointer;

    transition: 0.4s;
    &:hover {
        opacity: 0.85;
    }

    align-self: flex-end;
}