.button {
    height: 42px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--purple-800);

    color: var(--white);
    font-size: 16px;
    font-weight: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    align-items: center;
    text-align: center;

    transition: 0.4s;
    &:hover {
        opacity: 0.85;
    }
}

.buttonDisabled {
    cursor: default;
    height: 42px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--gray-200);

    color: var(--white);
    font-size: 16px;
    font-weight: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    align-items: center;
    text-align: center;


}